In [1]:
import pandas as pd
import requests

In [2]:
df = pd.read_csv('../data/Resto_Tweets/Resto_Tweets.csv')
df

,Unnamed: 0,id,text,Latitude,Longitude
0,0,8.215529e+17,"Dona dos meu olhares, me rouba suspiros e ares...",-23.648041,-46.609459
1,1,6.006788e+17,"Dono dos meus olhares, me rouba suspiros e are...",-23.519572,-46.538337
2,2,5.914764e+17,Vinicius bêbado rouba a brisa arrumando briga ...,-23.706664,-46.686056
3,3,5.908268e+17,"Que droga, todas as fotos dele recém nascido t...",-23.670741,-46.778292
4,4,5.754946e+17,"""a mesma pessoa que eu fui lá dentro, eu sou a...",-23.568895,-46.542213
...,...,...,...,...,...
5006,11702,2.496671e+17,"@bel_assal ou, quais possiveis numeros q mult...",-23.599576,-46.650440
5007,11703,2.496667e+17,@bel_assal hahahahaahah eh pq nois tem oq nois...,-23.591222,-46.651046
5008,11704,2.477709e+17,@bel_assal é que vcs amam meu cheiro!!!!!! sou...,-23.613961,-46.653786
5009,11705,2.183678e+17,#ricardo meu nutricionista @ nutricionista k....,-23.559080,-46.652334
5010,11706,1.564674e+17,@bel_assal espero que você esteja livre dia 28!!,-23.620180,-46.621220

In [3]:
df.rename(columns={'id': 'idTweet'}, inplace=True)
df

,Unnamed: 0,idTweet,text,Latitude,Longitude
0,0,8.215529e+17,"Dona dos meu olhares, me rouba suspiros e ares...",-23.648041,-46.609459
1,1,6.006788e+17,"Dono dos meus olhares, me rouba suspiros e are...",-23.519572,-46.538337
2,2,5.914764e+17,Vinicius bêbado rouba a brisa arrumando briga ...,-23.706664,-46.686056
3,3,5.908268e+17,"Que droga, todas as fotos dele recém nascido t...",-23.670741,-46.778292
4,4,5.754946e+17,"""a mesma pessoa que eu fui lá dentro, eu sou a...",-23.568895,-46.542213
...,...,...,...,...,...
5006,11702,2.496671e+17,"@bel_assal ou, quais possiveis numeros q mult...",-23.599576,-46.650440
5007,11703,2.496667e+17,@bel_assal hahahahaahah eh pq nois tem oq nois...,-23.591222,-46.651046
5008,11704,2.477709e+17,@bel_assal é que vcs amam meu cheiro!!!!!! sou...,-23.613961,-46.653786
5009,11705,2.183678e+17,#ricardo meu nutricionista @ nutricionista k....,-23.559080,-46.652334
5010,11706,1.564674e+17,@bel_assal espero que você esteja livre dia 28!!,-23.620180,-46.621220

In [4]:
df.drop(columns=['Unnamed: 0'], inplace=True)
df

,idTweet,text,Latitude,Longitude
0,8.215529e+17,"Dona dos meu olhares, me rouba suspiros e ares...",-23.648041,-46.609459
1,6.006788e+17,"Dono dos meus olhares, me rouba suspiros e are...",-23.519572,-46.538337
2,5.914764e+17,Vinicius bêbado rouba a brisa arrumando briga ...,-23.706664,-46.686056
3,5.908268e+17,"Que droga, todas as fotos dele recém nascido t...",-23.670741,-46.778292
4,5.754946e+17,"""a mesma pessoa que eu fui lá dentro, eu sou a...",-23.568895,-46.542213
...,...,...,...,...
5006,2.496671e+17,"@bel_assal ou, quais possiveis numeros q mult...",-23.599576,-46.650440
5007,2.496667e+17,@bel_assal hahahahaahah eh pq nois tem oq nois...,-23.591222,-46.651046
5008,2.477709e+17,@bel_assal é que vcs amam meu cheiro!!!!!! sou...,-23.613961,-46.653786
5009,2.183678e+17,#ricardo meu nutricionista @ nutricionista k....,-23.559080,-46.652334
5010,1.564674e+17,@bel_assal espero que você esteja livre dia 28!!,-23.620180,-46.621220

In [3]:
# df['rotulado'] = False
# df

In [14]:
df.to_json('../data/Resto_Tweets/Resto_Tweets.json', orient='records')

## Enviar dados para a APi

In [15]:
import json

In [16]:
f = open('../data/Resto_Tweets/Resto_Tweets.json')

data = json.load(f)

f.close()

data[:3]

[{'idTweet': 8.215529223e+17,
  'text': 'Dona dos meu olhares, me rouba suspiros e ares até que enfim te achei fui em muito lugares',
  'Latitude': -23.6480413,
  'Longitude': -46.6094589},
 {'idTweet': 6.006788176e+17,
  'text': 'Dono dos meus olhares, me rouba suspiros e ares. até q enfim te achei, fui em muitos lugares.',
  'Latitude': -23.5195724,
  'Longitude': -46.5383366},
 {'idTweet': 5.91476416e+17,
  'text': 'Vinicius bêbado rouba a brisa arrumando briga com os próprios parceiro ai fui tira ele kkkk empurrei o mlk que ele parecia uma águia voando',
  'Latitude': -23.7066643,
  'Longitude': -46.68605634}]

In [21]:
# url = 'https://api-rotulagem-tweets.herokuapp.com'
url = 'http://localhost:3000'

In [20]:
r = requests.post(
  '%s/tweets/adicionar/dump' % url,
  json=data
)

r.status_code

200

## Testar rotulagem

In [9]:
dadosUpdate = {
  'idTweet': 316257751598780400,
  'rotulado': True,
  'categoriaRotulo': 'roubo'
}

r = requests.post(
  '%s/tweets/rotular/tweet' % url,
  json=dadosUpdate
)

r.status_code

200

## Baixar resultado da API

In [1]:
import pandas as pd
import json
import os

os.system('wget -O tweets_rotulados.json https://api-rotulagem-tweets.herokuapp.com/tweets/listar/rotulados')

f = open('tweets_rotulados.json')
data_json = json.load(f)
f.close()

df_json = pd.DataFrame.from_dict(data_json['tweets'])
df_json

--2022-10-14 09:01:31--  https://api-rotulagem-tweets.herokuapp.com/tweets/listar/rotulados
Resolving api-rotulagem-tweets.herokuapp.com (api-rotulagem-tweets.herokuapp.com)... 23.22.144.165, 3.216.88.24, 23.22.52.7, ...
Connecting to api-rotulagem-tweets.herokuapp.com (api-rotulagem-tweets.herokuapp.com)|23.22.144.165|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1558249 (1,5M) [application/json]
Saving to: ‘tweets_rotulados.json’

     0K .......... .......... .......... .......... ..........  3%  242K 6s
    50K .......... .......... .......... .......... ..........  6%  244K 6s
   100K .......... .......... .......... .......... ..........  9% 7,64M 4s
   150K .......... .......... .......... .......... .......... 13%  248K 4s
   200K .......... .......... .......... .......... .......... 16% 39,7M 3s
   250K .......... .......... .......... .......... .......... 19% 5,65M 3s
   300K .......... .......... .......... .......... .......... 23%  343K 3s
   350K .......... .......... .......... .......... .......... 26% 9,52M 2s
   400K .......... .......... .......... .......... .......... 29% 9,31M 2s
   450K .......... .......... .......... .......... .......... 32%  424K 2s
   500K .......... .......... .......... .......... .......... 36% 1,91M 2s
   550K .......... .......... .......... .......... .......... 39% 5,06M 1s
   600K .......... .......... .......... .......... .......... 42% 14,8M 1s
   650K .......... .......... .......... .......... .......... 46%  407K 1s
   700K .......... .......... .......... .......... .......... 49% 2,97M 1s
   750K .......... .......... .......... .......... .......... 52% 5,26M 1s
   800K .......... .......... .......... .......... .......... 55%  485K 1s
   850K .......... .......... .......... .......... .......... 59% 2,49M 1s
   900K .......... .......... .......... .......... .......... 62% 2,72M 1s
   950K .......... .......... .......... .......... .......... 65% 5,48M 1s
  1000K .......... .......... .......... .......... .......... 69%  554K 1s
  1050K .......... .......... .......... .......... .......... 72% 1,89M 1s
  1100K .......... .......... .......... .......... .......... 75% 2,74M 0s
  1150K .......... .......... .......... .......... .......... 78% 5,34M 0s
  1200K .......... .......... .......... .......... .......... 82%  534K 0s
  1250K .......... .......... .......... .......... .......... 85% 2,31M 0s
  1300K .......... .......... .......... .......... .......... 88% 2,83M 0s
  1350K .......... .......... .......... .......... .......... 92% 3,60M 0s
  1400K .......... .......... .......... .......... .......... 95%  601K 0s
  1450K .......... .......... .......... .......... .......... 98% 1,77M 0s
  1500K .......... .......... .                               100% 83,2M=1,6s

2022-10-14 09:01:36 (928 KB/s) - ‘tweets_rotulados.json’ saved [1558249/1558249]

,idTweet,text,latitude,longitude,rotulado,categoriaRotulo,__v
0,316257751598780400,Que tipo de bandido rouba 17 reais ? \r\nfui r...,-23.674298,-46.764356,True,Sem relação,0
1,292782582788128800,Ainda bem q eu n fui ja penso rouba meu iphon...,-23.518996,-46.534266,True,Sem relação,0
2,276641216647532540,"Então falei: ""taxista, vamos pra vila olímpia....",-23.548694,-46.650272,True,Sem relação,0
3,262363758855323650,Fui rouba a doceira hj pra @_pfvrje quase fui ...,-23.508300,-46.436667,True,Roubo,0
4,391033038987341800,@axexeo por favor ajude a divulgar um crime qu...,-23.475125,-46.649000,True,Outros,0
...,...,...,...,...,...,...,...
6701,288278991301910500,"Depois de um dia correndo pelo jardim, curtind...",-23.421732,-46.762711,True,Sem relação,0
6702,288103376661667840,"Depois de um dia correndo pelo jardim, curtind...",-23.421732,-46.762711,True,Sem relação,0
6703,278607001070743550,@nathy_glm ahhh eu quero roub..ver!!! hahsha l...,-23.465054,-46.666649,True,Sem relação,0
6704,286337547905400830,"Gente, peraí. vou ter de desligar pois ta vind...",-23.549751,-46.648835,True,Sem relação,0
6705,261962400041951230,Nao costumo postar em locais públicos pq tem m...,-23.556835,-46.658515,True,Sem relação,0

In [2]:
df_json['categoriaRotulo'].value_counts().to_frame()

Sem relação    5530
Assalto         683
Roubo           267
Outros           72
Homicídio        70
Furto            58
Assédio          25
Acidente          1
Name: categoriaRotulo, dtype: int64

In [3]:
df_json[df_json['categoriaRotulo'] != 'Sem relação']

,idTweet,text,latitude,longitude,rotulado,categoriaRotulo,__v
3,262363758855323650,Fui rouba a doceira hj pra @_pfvrje quase fui ...,-23.508300,-46.436667,True,Roubo,0
4,391033038987341800,@axexeo por favor ajude a divulgar um crime qu...,-23.475125,-46.649000,True,Outros,0
5,792904031459012600,"@biancagomez00 roubaram a bolsa dela, só ñ rou...",-23.460210,-46.699953,True,Roubo,0
6,723910724850978800,@bibibiagaspar me roubaram do museu só pode.,-23.495562,-46.706913,True,Roubo,0
9,655577626078224400,Me roubaram 1 hora.,-23.534032,-46.468285,True,Roubo,0
...,...,...,...,...,...,...,...
6687,87197135535222780,"Instalando alarme. apos a tentativa de furto, ...",-23.579736,-46.720648,True,Furto,0
6688,85414281570553860,Três homens são presos em sp por suspeita de f...,-23.548943,-46.638818,True,Furto,0
6694,54847591921360900,"‘levaram tudo o que a gente tinha’, diz celso ...",-23.596190,-46.704343,True,Furto,0
6695,32545629892775936,"Registrando um bo de furto. sem problemas, tud...",-23.538673,-46.730555,True,Furto,0
6697,948302459046330400,Um roubo de caro (@ ophicina de costura in são...,-23.622656,-46.698140,True,Roubo,0

## Segunda parte dos dados

In [5]:
import pandas as pd
import os, json

os.system('wget -O resto_tweets_rotulados.json https://api-rotulagem-tweets.herokuapp.com/tweets/listar/rotulados')

f = open('resto_tweets_rotulados.json')
data_json_2 = json.load(f)
f.close()

df_json_2 = pd.DataFrame.from_dict(data_json_2['tweets'])
df_json_2

--2022-11-10 14:16:01--  https://api-rotulagem-tweets.herokuapp.com/tweets/listar/rotulados
Resolving api-rotulagem-tweets.herokuapp.com (api-rotulagem-tweets.herokuapp.com)... 3.216.88.24, 3.219.96.23, 23.22.52.7, ...
Connecting to api-rotulagem-tweets.herokuapp.com (api-rotulagem-tweets.herokuapp.com)|3.216.88.24|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1030111 (1006K) [application/json]
Saving to: ‘resto_tweets_rotulados.json’

     0K .......... .......... .......... .......... ..........  4%  141K 7s
    50K .......... .......... .......... .......... ..........  9%  344K 5s
   100K .......... .......... .......... .......... .......... 14%  227K 4s
   150K .......... .......... .......... .......... .......... 19% 7,56M 3s
   200K .......... .......... .......... .......... .......... 24% 9,41M 2s
   250K .......... .......... .......... .......... .......... 29%  251K 2s
   300K .......... .......... .......... .......... .......... 34% 38,2M 2s
   350K .......... .......... .......... .......... .......... 39% 3,48M 1s
   400K .......... .......... .......... .......... .......... 44% 10,4M 1s
   450K .......... .......... .......... .......... .......... 49%  145K 1s
   500K .......... .......... .......... .......... .......... 54%  205K 1s
   550K .......... .......... .......... .......... .......... 59% 7,38M 1s
   600K .......... .......... .......... .......... .......... 64% 59,4M 1s
   650K .......... .......... .......... .......... .......... 69% 73,5M 1s
   700K .......... .......... .......... .......... .......... 74% 74,0M 1s
   750K .......... .......... .......... .......... .......... 79% 15,3M 0s
   800K .......... .......... .......... .......... .......... 84% 5,13M 0s
   850K .......... .......... .......... .......... .......... 89%  130K 0s
   900K .......... .......... .......... .......... .......... 94% 49,7M 0s
   950K .......... .......... .......... .......... .......... 99% 62,7M 0s
  1000K .....                                                 100% 50,8M=1,9s

2022-11-10 14:16:12 (517 KB/s) - ‘resto_tweets_rotulados.json’ saved [1030111/1030111]

,idTweet,text,rotulado,categoriaRotulo,__v
0,6.006788e+17,"Dono dos meus olhares, me rouba suspiros e are...",True,Sem relação,0
1,5.728818e+17,"Nossa, fui p cozinha agora e tinha um sutiã me...",True,Sem relação,0
2,5.525270e+17,"Dono dos meus olhares, me rouba suspiros e are...",True,Sem relação,0
3,5.489122e+17,Meu pai é tão zika q ele rouba até meus tennis...,True,Sem relação,0
4,5.143605e+17,"Dono dos meus olhares, me rouba suspiro e ares...",True,Sem relação,0
...,...,...,...,...,...
5001,2.600388e+17,@marifarah_ @bel_assal bom diaaaaa!! hahahahah...,True,Sem relação,0
5002,2.506885e+17,@bel_assal boatos que gamouuu..hmm rumores!,True,Sem relação,0
5003,2.477709e+17,@bel_assal é que vcs amam meu cheiro!!!!!! sou...,True,Sem relação,0
5004,2.513495e+17,@bel_assal hahahahahahahahahahahahahahahahahah...,True,Sem relação,0
5005,2.496667e+17,@bel_assal hahahahaahah eh pq nois tem oq nois...,True,Sem relação,0

In [6]:
df_json_2['categoriaRotulo'].value_counts().to_frame()

             categoriaRotulo
Sem relação             4828
Assalto                   80
Roubo                     76
Furto                      8
Homicídio                  6
Outros                     5
Assédio                    2
Agressão                   1

In [7]:
df_json_2[df_json_2['categoriaRotulo'] != 'Sem relação']

,idTweet,text,rotulado,categoriaRotulo,__v
24,4.101853e+17,"Cheeeguei, me roubaram um selinho hoje na rua,...",True,Assédio,0
25,4.036817e+17,"@_velopes espero, é pq me roubaram na escola mor",True,Roubo,0
34,3.359586e+17,"@_danissauro sim, eu to c esse cel ate eu ganh...",True,Roubo,0
44,5.590068e+17,Só de lembrar que ontem de madrugada me assalt...,True,Assalto,0
45,4.940955e+17,@_eaerivera me assaltaram perto de casa. pedir...,True,Assalto,0
...,...,...,...,...,...
4706,5.920806e+17,Piá é preso pela segunda vez por tentativa de ...,True,Furto,0
4928,2.107333e+17,Hóspede registra boletim contra hotel por supo...,True,Furto,0
4969,2.085896e+17,Rt @ultimainstancia: morador de rua é condenad...,True,Furto,0
4974,8.541158e+16,Três homens são presos em sp por suspeita de f...,True,Furto,0
4983,1.343486e+17,Polícia identifica 13 suspeitos de furto a cof...,True,Furto,0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5011 entries, 0 to 5010
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   idTweet    5005 non-null   float64
 1   text       5005 non-null   object
 2   Latitude   4997 non-null   float64
 3   Longitude  4997 non-null   float64
dtypes: float64(3), object(1)
memory usage: 156.7+ KB

In [9]:
df_json_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5006 entries, 0 to 5005
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   idTweet          5005 non-null   float64
 1   text             5005 non-null   object
 2   rotulado         5006 non-null   bool
 3   categoriaRotulo  5006 non-null   object
 4   __v              5006 non-null   int64
dtypes: bool(1), float64(1), int64(1), object(2)
memory usage: 161.5+ KB

In [10]:
qtd_digitos = 8

In [11]:
df['idTweet_'] = df['idTweet'].apply(lambda item: str(item)[:qtd_digitos])
df

,idTweet,text,Latitude,Longitude,idTweet_
0,8.215529e+17,"Dona dos meu olhares, me rouba suspiros e ares...",-23.648041,-46.609459,8.215529
1,6.006788e+17,"Dono dos meus olhares, me rouba suspiros e are...",-23.519572,-46.538337,6.006788
2,5.914764e+17,Vinicius bêbado rouba a brisa arrumando briga ...,-23.706664,-46.686056,5.914764
3,5.908268e+17,"Que droga, todas as fotos dele recém nascido t...",-23.670741,-46.778292,5.908267
4,5.754946e+17,"""a mesma pessoa que eu fui lá dentro, eu sou a...",-23.568895,-46.542213,5.754946
...,...,...,...,...,...
5006,2.496671e+17,"@bel_assal ou, quais possiveis numeros q mult...",-23.599576,-46.650440,2.496671
5007,2.496667e+17,@bel_assal hahahahaahah eh pq nois tem oq nois...,-23.591222,-46.651046,2.496667
5008,2.477709e+17,@bel_assal é que vcs amam meu cheiro!!!!!! sou...,-23.613961,-46.653786,2.477709
5009,2.183678e+17,#ricardo meu nutricionista @ nutricionista k....,-23.559080,-46.652334,2.183677
5010,1.564674e+17,@bel_assal espero que você esteja livre dia 28!!,-23.620180,-46.621220,1.564673

In [12]:
df_json_2['idTweet_'] = df_json_2['idTweet'].apply(lambda item: str(item)[:qtd_digitos])
df_json_2

,idTweet,text,rotulado,categoriaRotulo,__v,idTweet_
0,6.006788e+17,"Dono dos meus olhares, me rouba suspiros e are...",True,Sem relação,0,6.006788
1,5.728818e+17,"Nossa, fui p cozinha agora e tinha um sutiã me...",True,Sem relação,0,5.728817
2,5.525270e+17,"Dono dos meus olhares, me rouba suspiros e are...",True,Sem relação,0,5.525269
3,5.489122e+17,Meu pai é tão zika q ele rouba até meus tennis...,True,Sem relação,0,5.489121
4,5.143605e+17,"Dono dos meus olhares, me rouba suspiro e ares...",True,Sem relação,0,5.143605
...,...,...,...,...,...,...
5001,2.600388e+17,@marifarah_ @bel_assal bom diaaaaa!! hahahahah...,True,Sem relação,0,2.600387
5002,2.506885e+17,@bel_assal boatos que gamouuu..hmm rumores!,True,Sem relação,0,2.506885
5003,2.477709e+17,@bel_assal é que vcs amam meu cheiro!!!!!! sou...,True,Sem relação,0,2.477709
5004,2.513495e+17,@bel_assal hahahahahahahahahahahahahahahahahah...,True,Sem relação,0,2.513494
5005,2.496667e+17,@bel_assal hahahahaahah eh pq nois tem oq nois...,True,Sem relação,0,2.496667

In [13]:
def recuperar_latlong(df, idTweet_, text, coluna):
  resultado = df[(df['idTweet_'] == idTweet_) & (df['text'] == text)][coluna]
  if(resultado.values.size == 1):
    # print(resultado.values[0])
    return resultado.values[0]
  else:
    resultado = df[df['text'] == text][coluna]
    if(resultado.values.size == 1):
      # print(resultado.values[0])
      return resultado.values[0]
  return -1

In [14]:
# df_json_2['Latitude'] = df_json_2['text'].apply(lambda item: recuperar_latlong(df, item, 'Latitude'))
# df_json_2['Longitude'] = df_json_2['text'].apply(lambda item: recuperar_latlong(df, item, 'Longitude'))

df_json_2['Latitude'] = df_json_2.apply(lambda item: recuperar_latlong(df, item['idTweet_'], item['text'], 'Latitude'), axis = 1)
df_json_2['Longitude'] = df_json_2.apply(lambda item: recuperar_latlong(df, item['idTweet_'], item['text'], 'Longitude'), axis = 1)

# df_json_2['Latitude'] = df_json_2['idTweet_'].apply(lambda item: df[df['idTweet_'] == item]['Latitude'].values[0])
# df_json_2['Longitude'] = df_json_2['idTweet_'].apply(lambda item: df[df['idTweet_'] == item]['Longitude'].values[0])

df_json_2

,idTweet,text,rotulado,categoriaRotulo,__v,idTweet_,Latitude,Longitude
0,6.006788e+17,"Dono dos meus olhares, me rouba suspiros e are...",True,Sem relação,0,6.006788,-23.519572,-46.538337
1,5.728818e+17,"Nossa, fui p cozinha agora e tinha um sutiã me...",True,Sem relação,0,5.728817,-23.519559,-46.538270
2,5.525270e+17,"Dono dos meus olhares, me rouba suspiros e are...",True,Sem relação,0,5.525269,-23.521572,-46.417855
3,5.489122e+17,Meu pai é tão zika q ele rouba até meus tennis...,True,Sem relação,0,5.489121,-23.610515,-46.558784
4,5.143605e+17,"Dono dos meus olhares, me rouba suspiro e ares...",True,Sem relação,0,5.143605,-23.435309,-46.753499
...,...,...,...,...,...,...,...,...
5001,2.600388e+17,@marifarah_ @bel_assal bom diaaaaa!! hahahahah...,True,Sem relação,0,2.600387,-23.615726,-46.651020
5002,2.506885e+17,@bel_assal boatos que gamouuu..hmm rumores!,True,Sem relação,0,2.506885,-23.615647,-46.650974
5003,2.477709e+17,@bel_assal é que vcs amam meu cheiro!!!!!! sou...,True,Sem relação,0,2.477709,-23.613961,-46.653786
5004,2.513495e+17,@bel_assal hahahahahahahahahahahahahahahahahah...,True,Sem relação,0,2.513494,-23.576624,-46.642162
5005,2.496667e+17,@bel_assal hahahahaahah eh pq nois tem oq nois...,True,Sem relação,0,2.496667,-23.591222,-46.651046

In [15]:
df

,idTweet,text,Latitude,Longitude,idTweet_
0,8.215529e+17,"Dona dos meu olhares, me rouba suspiros e ares...",-23.648041,-46.609459,8.215529
1,6.006788e+17,"Dono dos meus olhares, me rouba suspiros e are...",-23.519572,-46.538337,6.006788
2,5.914764e+17,Vinicius bêbado rouba a brisa arrumando briga ...,-23.706664,-46.686056,5.914764
3,5.908268e+17,"Que droga, todas as fotos dele recém nascido t...",-23.670741,-46.778292,5.908267
4,5.754946e+17,"""a mesma pessoa que eu fui lá dentro, eu sou a...",-23.568895,-46.542213,5.754946
...,...,...,...,...,...
5006,2.496671e+17,"@bel_assal ou, quais possiveis numeros q mult...",-23.599576,-46.650440,2.496671
5007,2.496667e+17,@bel_assal hahahahaahah eh pq nois tem oq nois...,-23.591222,-46.651046,2.496667
5008,2.477709e+17,@bel_assal é que vcs amam meu cheiro!!!!!! sou...,-23.613961,-46.653786,2.477709
5009,2.183678e+17,#ricardo meu nutricionista @ nutricionista k....,-23.559080,-46.652334,2.183677
5010,1.564674e+17,@bel_assal espero que você esteja livre dia 28!!,-23.620180,-46.621220,1.564673

In [16]:
df_json_2[df_json_2['Latitude'] == -1]

,idTweet,text,rotulado,categoriaRotulo,__v,idTweet_,Latitude,Longitude
255,NaN,None,True,Sem relação,0,nan,-1.0,-1.0

In [17]:
df_json_2[df_json_2['Longitude'] == -1]

,idTweet,text,rotulado,categoriaRotulo,__v,idTweet_,Latitude,Longitude
255,NaN,None,True,Sem relação,0,nan,-1.0,-1.0

In [18]:
df_json_2_ = df_json_2[(df_json_2['Latitude'] != -1) | (df_json_2['Longitude'] != -1)]
df_json_2_

,idTweet,text,rotulado,categoriaRotulo,__v,idTweet_,Latitude,Longitude
0,6.006788e+17,"Dono dos meus olhares, me rouba suspiros e are...",True,Sem relação,0,6.006788,-23.519572,-46.538337
1,5.728818e+17,"Nossa, fui p cozinha agora e tinha um sutiã me...",True,Sem relação,0,5.728817,-23.519559,-46.538270
2,5.525270e+17,"Dono dos meus olhares, me rouba suspiros e are...",True,Sem relação,0,5.525269,-23.521572,-46.417855
3,5.489122e+17,Meu pai é tão zika q ele rouba até meus tennis...,True,Sem relação,0,5.489121,-23.610515,-46.558784
4,5.143605e+17,"Dono dos meus olhares, me rouba suspiro e ares...",True,Sem relação,0,5.143605,-23.435309,-46.753499
...,...,...,...,...,...,...,...,...
5001,2.600388e+17,@marifarah_ @bel_assal bom diaaaaa!! hahahahah...,True,Sem relação,0,2.600387,-23.615726,-46.651020
5002,2.506885e+17,@bel_assal boatos que gamouuu..hmm rumores!,True,Sem relação,0,2.506885,-23.615647,-46.650974
5003,2.477709e+17,@bel_assal é que vcs amam meu cheiro!!!!!! sou...,True,Sem relação,0,2.477709,-23.613961,-46.653786
5004,2.513495e+17,@bel_assal hahahahahahahahahahahahahahahahahah...,True,Sem relação,0,2.513494,-23.576624,-46.642162
5005,2.496667e+17,@bel_assal hahahahaahah eh pq nois tem oq nois...,True,Sem relação,0,2.496667,-23.591222,-46.651046

In [19]:
df_json_2_ = df_json_2_.drop(columns=['__v', 'idTweet_'])
df_json_2_

,idTweet,text,rotulado,categoriaRotulo,Latitude,Longitude
0,6.006788e+17,"Dono dos meus olhares, me rouba suspiros e are...",True,Sem relação,-23.519572,-46.538337
1,5.728818e+17,"Nossa, fui p cozinha agora e tinha um sutiã me...",True,Sem relação,-23.519559,-46.538270
2,5.525270e+17,"Dono dos meus olhares, me rouba suspiros e are...",True,Sem relação,-23.521572,-46.417855
3,5.489122e+17,Meu pai é tão zika q ele rouba até meus tennis...,True,Sem relação,-23.610515,-46.558784
4,5.143605e+17,"Dono dos meus olhares, me rouba suspiro e ares...",True,Sem relação,-23.435309,-46.753499
...,...,...,...,...,...,...
5001,2.600388e+17,@marifarah_ @bel_assal bom diaaaaa!! hahahahah...,True,Sem relação,-23.615726,-46.651020
5002,2.506885e+17,@bel_assal boatos que gamouuu..hmm rumores!,True,Sem relação,-23.615647,-46.650974
5003,2.477709e+17,@bel_assal é que vcs amam meu cheiro!!!!!! sou...,True,Sem relação,-23.613961,-46.653786
5004,2.513495e+17,@bel_assal hahahahahahahahahahahahahahahahahah...,True,Sem relação,-23.576624,-46.642162
5005,2.496667e+17,@bel_assal hahahahaahah eh pq nois tem oq nois...,True,Sem relação,-23.591222,-46.651046

In [20]:
df_json_2_.to_csv('resto_tweets_rotulados.csv', sep=';', index=False)

In [21]:
df_json_2__ = pd.read_csv('resto_tweets_rotulados.csv', sep=';', index_col=False)
df_json_2__

,idTweet,text,rotulado,categoriaRotulo,Latitude,Longitude
0,6.006788176e+17,"Dono dos meus olhares, me rouba suspiros e are...",True,Sem relação,-23.519572,-46.538337
1,5.728817883e+17,"Nossa, fui p cozinha agora e tinha um sutiã me...",True,Sem relação,-23.519559,-46.538270
2,5.525269848e+17,"Dono dos meus olhares, me rouba suspiros e are...",True,Sem relação,-23.521572,-46.417855
3,5.489121534e+17,Meu pai é tão zika q ele rouba até meus tennis...,True,Sem relação,-23.610515,-46.558784
4,5.143605162e+17,"Dono dos meus olhares, me rouba suspiro e ares...",True,Sem relação,-23.435309,-46.753499
...,...,...,...,...,...,...
5002,2.60038753e+17,@marifarah_ @bel_assal bom diaaaaa!! hahahahah...,True,Sem relação,-23.615726,-46.651020
5003,2.50688533e+17,@bel_assal boatos que gamouuu..hmm rumores!,True,Sem relação,-23.615647,-46.650974
5004,2.477709121e+17,@bel_assal é que vcs amam meu cheiro!!!!!! sou...,True,Sem relação,-23.613961,-46.653786
5005,2.513494775e+17,@bel_assal hahahahahahahahahahahahahahahahahah...,True,Sem relação,-23.576624,-46.642162
5006,2.49666745e+17,@bel_assal hahahahaahah eh pq nois tem oq nois...,True,Sem relação,-23.591222,-46.651046