In [1]:
import pandas as pd
import requests

In [2]:
df = pd.read_csv('../data/Tweets/dadosTwitter.csv')
df

,idTweet,text,latitude,longitude
0,316257751598780416,Que tipo de bandido rouba 17 reais ? \r\nfui r...,-23.674298,-46.764356
1,292782582788128768,Ainda bem q eu n fui ja penso rouba meu iphon...,-23.518996,-46.534266
2,276641216647532544,"Então falei: ""taxista, vamos pra vila olímpia....",-23.548694,-46.650272
3,262363758855323649,Fui rouba a doceira hj pra @_pfvrje quase fui ...,-23.508300,-46.436667
4,391033038987341824,@axexeo por favor ajude a divulgar um crime qu...,-23.475125,-46.649000
...,...,...,...,...
6701,288278991301910528,"Depois de um dia correndo pelo jardim, curtind...",-23.421732,-46.762711
6702,288103376661667841,"Depois de um dia correndo pelo jardim, curtind...",-23.421732,-46.762711
6703,278607001070743552,@nathy_glm ahhh eu quero roub..ver!!! hahsha l...,-23.465054,-46.666649
6704,286337547905400832,"Gente, peraí. vou ter de desligar pois ta vind...",-23.549751,-46.648835
6705,261962400041951232,Nao costumo postar em locais públicos pq tem m...,-23.556835,-46.658515

In [3]:
# df['rotulado'] = False
# df

In [4]:
df.to_json('../data/Tweets/dadosTwitter.json', orient='records')

## Enviar dados para a APi

In [5]:
import json

In [11]:
f = open('../data/Tweets/dadosTwitter.json')

data = json.load(f)

f.close()

data[:3]

[{'idTweet': 316257751598780416,
  'text': 'Que tipo de bandido rouba 17 reais ? \r\nfui roubado :s !',
  'latitude': -23.6742979,
  'longitude': -46.76435632},
 {'idTweet': 292782582788128768,
  'text': 'Ainda bem q eu n fui ja penso rouba meu  iphone eu morro !!',
  'latitude': -23.51899598,
  'longitude': -46.5342656},
 {'idTweet': 276641216647532544,
  'text': 'Então falei: "taxista, vamos pra vila olímpia. como quem rouba". e fui assaltada.',
  'latitude': -23.54869415,
  'longitude': -46.6502719}]

In [ ]:
# url = 'https://api-rotulagem-tweets.herokuapp.com'
url = 'http://localhost:3000'

In [12]:
r = requests.post(
  '%s/tweets/adicionar/dump' % url,
  json=data
)

r.status_code

200

## Testar rotulagem

In [9]:
dadosUpdate = {
  'idTweet': 316257751598780400,
  'rotulado': True,
  'categoriaRotulo': 'roubo'
}

r = requests.post(
  '%s/tweets/rotular/tweet' % url,
  json=dadosUpdate
)

r.status_code

200