In [1]:
import pandas as pd
import requests

In [2]:
df = pd.read_csv('../data/Tweets/dadosTwitter.csv')
df

,idTweet,text,latitude,longitude
0,316257751598780416,Que tipo de bandido rouba 17 reais ? \r\nfui r...,-23.674298,-46.764356
1,292782582788128768,Ainda bem q eu n fui ja penso rouba meu iphon...,-23.518996,-46.534266
2,276641216647532544,"Ent√£o falei: ""taxista, vamos pra vila ol√≠mpia....",-23.548694,-46.650272
3,262363758855323649,Fui rouba a doceira hj pra @_pfvrje quase fui ...,-23.508300,-46.436667
4,391033038987341824,@axexeo por favor ajude a divulgar um crime qu...,-23.475125,-46.649000
...,...,...,...,...
6701,288278991301910528,"Depois de um dia correndo pelo jardim, curtind...",-23.421732,-46.762711
6702,288103376661667841,"Depois de um dia correndo pelo jardim, curtind...",-23.421732,-46.762711
6703,278607001070743552,@nathy_glm ahhh eu quero roub..ver!!! hahsha l...,-23.465054,-46.666649
6704,286337547905400832,"Gente, pera√≠. vou ter de desligar pois ta vind...",-23.549751,-46.648835
6705,261962400041951232,Nao costumo postar em locais p√∫blicos pq tem m...,-23.556835,-46.658515

In [3]:
# df['rotulado'] = False
# df

In [4]:
df.to_json('../data/Tweets/dadosTwitter.json', orient='records')

## Enviar dados para a APi

In [5]:
import json

In [11]:
f = open('../data/Tweets/dadosTwitter.json')

data = json.load(f)

f.close()

data[:3]

[{'idTweet': 316257751598780416,
  'text': 'Que tipo de bandido rouba 17 reais ? \r\nfui roubado :s !',
  'latitude': -23.6742979,
  'longitude': -46.76435632},
 {'idTweet': 292782582788128768,
  'text': 'Ainda bem q eu n fui ja penso rouba meu  iphone eu morro !!',
  'latitude': -23.51899598,
  'longitude': -46.5342656},
 {'idTweet': 276641216647532544,
  'text': 'Ent√£o falei: "taxista, vamos pra vila ol√≠mpia. como quem rouba". e fui assaltada.',
  'latitude': -23.54869415,
  'longitude': -46.6502719}]

In [ ]:
# url = 'https://api-rotulagem-tweets.herokuapp.com'
url = 'http://localhost:3000'

In [12]:
r = requests.post(
  '%s/tweets/adicionar/dump' % url,
  json=data
)

r.status_code

200

## Testar rotulagem

In [9]:
dadosUpdate = {
  'idTweet': 316257751598780400,
  'rotulado': True,
  'categoriaRotulo': 'roubo'
}

r = requests.post(
  '%s/tweets/rotular/tweet' % url,
  json=dadosUpdate
)

r.status_code

200

## Baixar resultado da API

In [1]:
import pandas as pd
import json
import os

os.system('wget -O tweets_rotulados.json https://api-rotulagem-tweets.herokuapp.com/tweets/listar/rotulados')

f = open('tweets_rotulados.json')
data_json = json.load(f)
f.close()

df_json = pd.DataFrame.from_dict(data_json['tweets'])
df_json

--2022-09-23 18:02:32--  https://api-rotulagem-tweets.herokuapp.com/tweets/listar/rotulados
Resolving api-rotulagem-tweets.herokuapp.com (api-rotulagem-tweets.herokuapp.com)... 3.219.96.23, 3.216.88.24, 23.22.52.7, ...
Connecting to api-rotulagem-tweets.herokuapp.com (api-rotulagem-tweets.herokuapp.com)|3.219.96.23|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18141 (18K) [application/json]
Saving to: ‚Äòtweets_rotulados.json‚Äô

     0K .......... .......                                    100%  120K=0,1s

2022-09-23 18:02:33 (120 KB/s) - ‚Äòtweets_rotulados.json‚Äô saved [18141/18141]

,idTweet,text,latitude,longitude,rotulado,categoriaRotulo,__v
0,489960733653073900,"Roubaram meu bebe,o chokito,poodle branco,+ ou...",-23.616648,-46.737167,True,Roubo,0
1,489422588142428160,"J√° me roubaram o pepu, j√° me roubaram a mica e...",-23.571154,-46.699023,True,Sem rela√ß√£o,0
2,296476545000824800,@laari15_zika tinha mais um monte .. mais me r...,-23.455570,-46.676363,True,Roubo,0
3,373214313190006800,Nao acredito que me assaltaram,-23.535248,-46.592666,True,Assalto,0
4,335872345656946700,@ulyssesbravoo n√£o tinha visto n√£o!!!me diga c...,-23.687025,-46.703406,True,Assalto,0
...,...,...,...,...,...,...,...
71,76979506975481860,Uma invas√£o .. sempre falei que scooter √© a ev...,-23.608074,-46.653071,True,Sem rela√ß√£o,0
72,1066321643172188200,Estes dias fui assaltado por uma meliante miri...,-23.550000,-46.633300,True,Assalto,0
73,484556079620448260,@junis_martins furto üòÇüòÇ,-23.472502,-46.697482,True,Sem rela√ß√£o,0
74,381657028802121700,"""cade a sua carteira?"" ""ta c o pessoal q corre...",-23.547913,-46.441329,True,Sem rela√ß√£o,0
75,215806954919051260,Criminoso foge pelo telhado ap√≥s furto no cent...,-23.548943,-46.638818,True,Furto,0

In [2]:
df_json['categoriaRotulo'].value_counts()

Sem rela√ß√£o    50
Assalto        11
Roubo           7
Outros          4
Homic√≠dio       3
Furto           1
Name: categoriaRotulo, dtype: int64